.container {
    background-color: #A9A9A9;
    padding: 2vw;
    margin: 3vw;
    text-align: center;
    border-radius: 18px;
}
h1 {
    font-size: 2vw;
}
.line {
    height: 5px;
    background-color: #D9D9D9;
    border-radius: 13px;
}
.p {
    font-size: 1vw;
    text-align: left;
    padding: 1vw;
}
li {
    list-style: inside;
}
ul {
    list-style: inside;
}