.container {
        background-color: #A9A9A9;
        padding: 68px;
        margin: 68px;
        border-radius: 18px;
        padding-top: 80px;
        height: 820px;
       h1 {
        font-weight: 500;    
        margin: 32px 0;
        }
        .h2{
            font-weight: 500;
        }
        select {
            width: 224px;
            height: 24px;
            background-color: #D9D9D9;
        }
}
.leftContent {
    float: left;
}
.options {
    display: flex;
    justify-content: space-between;
}
.phone {
    margin-right: 160px;
}
.rightContent {
    float: right;
    width: 65%;
    
}
.blue {
    color: #11467A;
}
p {
    font-size: 16px;
}
.button {
    margin-top: 16px;
    display: flex;
    background-color: #D9D9D9;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 1px black solid;
    padding: 5px;
    cursor: pointer;
    img {
        width: 26px;
    }
    p {
        margin: 0 4px;
        font-weight: 500;
        font-size: 14px;
    }
    &:hover {
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.65));
    }
}
.button2{
    margin: 16px 0;
    padding: 8px;
    background-color: #C8102E;
    align-items: center;
    text-align: center;
    color: white;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    &:hover {
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.65));
    }
    &:active {
        background-color: #747474;
    }
}
.like {
    width: 22px;
    cursor: pointer;
}
.paragraph{
    margin: 32px 0;
    margin-right: 256px;
}
