
    .cartImg {
        width: 64px;
        height: 32px;
    }
    .acc {
        width: 48px;
        height: 27px;
    }
    .logo {
      cursor: pointer;
      display: flex;
    }
    .lg {
        width: 160px;
        height: 96px;
    }
    li {
      cursor: pointer;
    }
    .header {
        padding: 40px 48px 0 142px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
    }
    .pages{
        display: flex;
      li{
        margin-right: 68px;
      }
    }
    .shop {
        display: flex;
        align-items: center;
      .cart {
        display: flex;
        align-items: center;
        .uah{
          font-weight: 500;
        }
      }
    }
    .selectedPage {
        font-weight: 500;
        border-bottom: 1px solid #000;
       }