body {
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
}
 .main {
  max-width: 1440px;
  margin: 0 auto;  
 }
 

